{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">

    <h3>
      {{ article.title }}</h3>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    <abbr class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
	{% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </abbr>
	{% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          {{ author }}
        {% endfor %}
    </address>
    <p>In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
{% include 'taglist.html' %}
    {% endif %}<!-- /.post-info -->

  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//nasseralkmikm.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<span class='st_facebook' displayText='Facebook'></span>
<span class='st_twitter' displayText='Tweet'></span>
<span class='st_email' displayText='Email'></span>
<span class='st_reddit' displayText='Reddit'></span>
</section>
{% endblock %}
